
body {
    background-color: #c6c2c2;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    font-family:  Helvetica, sans-serif;
    font-style: normal;
  }

  h3,h1{
      color: #ffffff;
      font-weight: bold;
      background-color: rgb(94, 53, 53);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      font-style: italic;
      text-align: center;
}

.choices{
    margin: 10px 0;
    text-align: left;
}

.choice{
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice > img{    
    border-radius: 50%;
    border: 2px solid silver;
    max-width:90%;
    height:100px;
    display: block;
}

p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  
  p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
}


.home{
    color: black;
    font-weight: bold;
}

a
{
text-decoration: none;
}

a:hover
{
text-decoration:underline;
}